
.adult-content{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(0,0,0,0.85);
    color:var(--white);
    text-align: center;
}

.adult-title{
    font-size:40px;
    text-transform: uppercase;
    margin:0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adult-title img{
    height: 70px;
    margin-left: 10px;
}

.adult-content p{
    margin: 5px 0!important;
}

.adult-content strong{
    color:var(--red);
    font-weight: normal;
}

.adult-content .eighteen{
    font-size: 40px;
    color:var(--red);
    font-weight: 700;
    margin:40px 0!important;
}

.adult-content button{
    cursor:pointer;
    border:none;
    outline:none;
    padding:10px 30px;
    background:var(--red);
    color:var(--white);
    display: inline-block;
    margin:0 0 10px;
    font-size:16px;
}