/* //////////////
// footer 2022 //
////////////// */

#footer-wrapper
{
    background: var(--footer-background);
    padding: 50px 0 10px;
}

#footer-wrapper footer 
{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
        'footer-1 footer-2 footer-3 footer-4' 
        'footer-1 footer-2 footer-3 footer-4' 
        'footer-1 footer-5 footer-5 footer-4' 
}

@media(max-width:1340px)
{
    #footer-wrapper footer
    {
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
            'footer-1 footer-1 footer-1' 
            'footer-2 footer-3 footer-4' 
            'footer-5 footer-5 footer-4'
    }
}

@media(max-width:1240px)
{
    #footer-wrapper footer
    {
        width: 95%;
    }
}

@media(max-width:776px)
{
    #footer-wrapper footer
    {
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
            'footer-2 footer-3 footer-4' 
            'footer-1 footer-1 footer-1' 
            'footer-5 footer-5 footer-5'
    }
}

/* лототип і примітка */
#footer-1
{
    grid-area: footer-1;

    padding-right: 30px;
}

/* цопірайти */
#footer-5
{
    margin: -20px 0 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    grid-column: 2/-2;
}

@media(max-width:1240px)
{
    #footer-5
    {
        grid-column: 1/-1;
    }
}

@media(max-width:776px)
{
    #footer-5
    {
        margin: 10px 0;
    }
}

#footer-5 svg
{
    fill: var(--opacity-black);
    height: 18px;
    position: relative;
    top: 2px;
}

#footer-wrapper p
{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    line-height: 15px;
    margin: 24px 0 15px;
}

#footer-wrapper small
{
    line-height: 1.25;
    display: block;
    font-size: 12px;
    color: #aab2bd;
}

#footer-wrapper li
{
    display: block;
    margin: 0 0 10px;
}

#footer-wrapper p, 
#footer-wrapper a,
#footer-wrapper small
{
    color: var(--opacity-black);
}

#footer-wrapper li a
{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    line-height: 20px;
    text-decoration: none;
}

#footer-wrapper li a:hover,
#footer-wrapper li a:focus
{
    color: var(--red)
}