/* мобільне меню */
#touch-menu{
    display: none;
    padding:50px 10px 10px;

    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width:100%;
    background: var(--opacity-black);
    z-index: 35;

    color:var(--white);
}

#touch-menu.show{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* іконка закриття */
#touch-menu-close{
    position: absolute;
    top:12px;
    right:48px;
    z-index:40;
}

#touch-menu-close::after,
#touch-menu-close::before{
    content: '';
}

#touch-menu-close::after{
    height: 2px;
    width: 30px;
    background: var(--white);
    position: absolute;
    top: 15px;
    left: 0;
    transform: rotate(-50deg);
}

#touch-menu-close::before{
    height: 2px;
    width: 30px;
    background: var(--white);
    position: absolute;
    top: 15px;
    left: 0;
    transform: rotate(50deg);
}


/* заголовки */
#touch-menu p{
    text-transform: uppercase;
    color:var(--light-gray);
}

/* блоки */
#touch-left{
    width:50%;
}

#touch-left ul,
#touch-left li{
    display: block;
}

#touch-left a{
    display: block;
    padding:6px 0;
}





/* права колонка */
#touch-right{
    width:50%;
    overflow-y: scroll;
}

/* scroll */
#touch-aside-menu{
    position: relative;
}


.levus-aside-menu,
.levus-aside-menu ul {
    display: block;
    margin: 0;
    padding: 0;
}

.levus-aside-menu li {
    display: block;
}

.levus-aside-menu li a {
    display: block;
    text-decoration: none;
    /* color: whitesmoke; */
    /* background: cornflowerblue; */
    padding: 10px 5px;
}

.levus-aside-menu li a:hover {
    /* background: yellowgreen; */
}


/* li з вкладеними підпунктами */
.levus-aside-menu .parent {
    position: relative;
    /* background: cornflowerblue; */
    overflow: hidden;
}

.levus-aside-menu .parent>ul {
    max-height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: max-height .1s, transform .1s;
    transition: max-height .1s, transform .1s;
}

.levus-aside-menu .parent span.open~ul {
    max-height: 100%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transition: max-height .2s, transform .2s;
    transition: max-height .2s, transform .2s;
}

.levus-aside-menu .parent li a {
    padding-left: 20px;
}

/* кнопка розкривання підпунктів */
.levus-aside-menu .parent span {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    /* background: aquamarine; */
    cursor: pointer;
    z-index: 1;
}

.levus-aside-menu .parent span::before {
    content: '+';
    /* todo: background */
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.levus-aside-menu .parent span.open::before {
    content: '-';
    /* todo: background */
}






/* низ */
#touch-bottom{
    flex:0 1 100%;
    border-top:1px solid var(--red);
    padding:10px 0;
}











/* todo: delete #menu.show */